.traffic_body{
  text-align: center;
  width: 100%;
  height: 1000px;
  min-width: 400px;
  min-height: 400px;
  max-width: 1000px;
  background-image: url(../img/map/1007_new-mbta-map.jpg);
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}

.traffic_layer{
  position: relative;
}

.traffic_site{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px black;
  position: absolute;
  cursor: pointer;
  background-color: purple;
}

.traffic_site:hover .site_layer{
  visibility: visible;
}

.traffic_site .site_layer{
  visibility: hidden;
  min-width: 250px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 24px;
  padding: 5px 10px;
}

#site_oakgrove{
  top: 5.2%;
  left: 66.2%;
}

#site_malden{
  top: 7.4%;
  left: 66.2%;
}

#site_center{
  top: 24.5%;
  left: 43.8%;
}

#site_ruggles{
  top: 61.2%;
  left: 41.8%;
}

#site_downtown{
  top: 41.9%;
  left: 61.2%;
}

#site_chinatown{
  top: 46.9%;
  left: 56.3%;
}